.icsbot.bak/
advice.txt
batch
batch1
batch1.log
batch2
batch3
files
hyperestraier-build
hyperestraier-search
instrumentation.py
logintestdata.py
logintestdata.pyo
mcbot.log
mcbot.py.bak
remove_files_from_all_revisions
rset_HEAD
search
searchdb/
tell.log
reset_HEAD
timer1
*~
*.pyc
*.pyo
