archive.sh
advice.txt
files
hyperestraier-build
hyperestraier-search
logintestdata.py
logintestdata.pyo
remove_files_from_all_revisions
rset_HEAD
search
searchdb/
reset_HEAD
timer1
*~
*.pyc
*.pyo
mcbot.log.keep
*.log
*.bak
batch*
ssh-agent
*.dat
answers.txt
archive.zip
cfgfile.py
keepalive
mcborg.cfg
mcborg.py
version

